<app-header></app-header>
<main>
  <div class="texto">
    <p class="titulo-1">Our mission is</p>
    <p class="sub-titulo">Nossa missão é</p>
    <p class="titulo-2">to transform the world</p>
    <p class="sub-titulo">transformar o mundo</p>
    <p class="titulo-2">building digital experiences</p>
    <p class="sub-titulo">construindo experiências digitais</p>
    <p class="titulo-2">that enable our clients growth</p>
    <p class="sub-titulo final">
      que permitam o crescimento dos nossos clientes
    </p>
  </div>
</main>
<app-footer></app-footer>
